@(eventsList: List[EiEvent], eventForm: Event)

@import helper._
 
        <table class="zebra-striped">
            <thead>
                <tr>
                	<th>Event ID</th>
                	<th>Priority</th>
                	<th>Status</th>
                	<th>Start Time</th>
                	<th>Duration</th>
                	<th>Market Context</th>
                </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>            	
				@for(event <- eventsList){
					<tr>
						<td><a href="@routes.VENStatuses.venStatuses(event.getEventDescriptor().getEventID())">@event.getEventDescriptor().getEventID()</a></td>
						<td>@event.getEventDescriptor().getPriority()</td>
						<td>@event.getEventDescriptor().getEventStatus()</td>
						<td>@eventForm.displayReadableStart(event.getEiActivePeriod().getProperties().getDtstart().getDateTime().getValue().toString())</td>
						<td>@eventForm.displayReadableDuration(event.getEiActivePeriod().getProperties().getDuration().getDuration().getValue())</td>
						<td>@event.getEventDescriptor().getEiMarketContext().getMarketContext().getValue()</td>							
						<td>
							@form(routes.Events.editEvent(event.getHjid())){
								<input type="submit" value="Edit" class="btn primary">
							}
						</td>
						<td>
							@form(routes.Events.deleteEvent(event.getHjid())){
								<input type="submit" value="Delete" class="btn danger" onClick="return confirmSubmit()">
							}
						</td>	
						<td>
							@form(routes.Events.cancelEvent(event.getHjid())){
								<input type="submit" value="Cancel" class="btn">
							}			
					</tr>
				}            	
            </tbody>
        </table>