@(eiEventsForm: Form[Event], eiEvent: Event, programs: Map[String, String])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main(Html("Create an Event"), "") {
	@form(routes.Events.newEvent(), 'class -> "form-inline") {
		
		@if(flash.size() > 0){
	        <div class="alert-message error">
	        	@for((key, value) <- flash){
	            	<strong>Error : </strong> @value<br />
	            }
	        </div> 
	    }
	
        <fieldset>
			<h3>Program</h3>
			@select(
                eiEventsForm("marketContext"), 
                options(programs), 
	                '_label -> "Program", '_default -> "-- Choose a program --",
	                '_showConstraints -> false
	            )
		    <h3>Event Descriptor</h3>    
				@inputText(eiEventsForm("eventID"), '_label -> "Event ID")
				@inputText(eiEventsForm("priority"), '_label -> "Priority")
			
			<h3>Active Period</h3>
			@inputText(eiEventsForm("intervals"), '_label -> "Intervals")
			
			@if(flash.containsKey("")){
				<div class ="clearfix error">
				@inputText(field = eiEventsForm("startDate"), args = '_label -> "Start Date", 'id ->"dp1")
				@inputText(field = eiEventsForm("startTime"), args = '_label -> "Start Time", 'id ->"tp1")
				@inputText(field = eiEventsForm("endDate"), args = '_label -> "End Date", 'id ->"dp2")		
				@inputText(field = eiEventsForm("endTime"), args = '_label -> "End Time", 'id ->"tp2")
				</div>
			}
			@if(!flash.containsKey("")){			
				@inputText(field = eiEventsForm("startDate"), args = '_label -> "Start Date", 'id ->"dp1")
				@inputText(field = eiEventsForm("startTime"), args = '_label -> "Start Time", 'id ->"tp1")
				@inputText(field = eiEventsForm("endDate"), args = '_label -> "End Date", 'id ->"dp2")		
				@inputText(field = eiEventsForm("endTime"), args = '_label -> "End Time", 'id ->"tp2")
			}
				
		</fieldset>
		
        <div class="actions">
            <input type="submit" value="Create this event" class="btn primary"> or 
            <a href="@routes.Events.events()" class="btn">Cancel</a>     
        </div>        
	}
}